.logo {
  width: 140px;
  height: 71px;
  text-align: center;
}
.background-photo {
  width: 1200px;
  height: 773px;
  object-fit: contain;
  
}
.nav-back {
    width: 239px;
    height: 56px;
  }
  .welcome {
    width: 459px;
    height: 353px;
    object-fit: contain;
  }
  .icon-back {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
  }
  .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    clip: rect(0000);
    overflow: hidden;
  }

  }