body {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color:black;
  text-transform: uppercase;
  background-color:white;
  text-align: center;
}

a{ 
   font-weight: 700;
   text-decoration: none;
}
h3{
  font-weight: 700;
}
 
.main-navigation ul {
  list-style: none; 
}
 
.main-navigation a {
  color:black;
}

.information {
  width: 20%;
}
.photo {
width: 20%;
}

.logo {
  position: absolute;
  margin-left:-80px;
  margin-top:-14px;
}
.carta {
  margin-left: 200px; 
 width: 20%; 
}
.house{
 width: 20%;
}
.welcome { 
  margin-left: -10px;
  margin-top: 50px;
  margin-bottom: 150px;
  
}

.main-navigation ul{
  display: flex;
}

.main-background {
color:black;
background-color:#f2f2f28a;
background-image:url("../img/polygon.svg"), 
                 url("../img/background-photo.jpg") ;
background-position: bottom center, center center;                 
background-repeat: no-repeat;
background-size: 100% auto, 100% auto; 
}

.features { 
  margin-left: auto;
  margin-right: auto; 
  margin-top: 60px; 
  width: 1200px;
}
.reasons { 
  margin-bottom: 50px;
}
.features-list {

  list-style: none; 
 
}
.feature-item {
  display: flex;
  max-width: ;
}

.real_city {
  background-color: #81b3d2;
  color: white;
  margin-left: auto;
  width: 33.3333%;
  height: 210px;
  padding-top: 46px;
}
.real_city h3{
  font-weight: 700;
}
.advantage h3{
  font-weight: 700;
}

.features-sedona {
max-width:440px;
margin-left: auto;
margin-right: auto;
font-weight: 700;
}
.real_sedona{
  max-width: 280px;
  margin-left: auto;
  margin-right: auto; 
}

.bridge-text h3{
  font-weight: 700; 
}


.advantage {
  max-width: 240px;
  margin-left: 100px;
  
}
.advantage-top { 
  display: flex;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px; 
  
  
}
.tourists h3{
  font-weight: 700;  
}


.nav-back {
    width: 239px;
    height: 56px;
  }
  
  }
  .icon-back {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
  }

  .bridge-img {
    display: flex;
    
  }
  .bridge-text {
    font-family: 'PT Sans Narrow', sans-serif;
    padding-top: 30px;
    background-color: #81b3d2;
    color: white;
    margin-left: auto;
    width: 33.3333%;
    height: 226px;
    }
    .bridge-text p{
      max-width: 250px; 
      margin-left: auto;
      margin-right: auto; 
    
    }
  .tourists {
    
    color: black;
    float: left;
    margin-bottom: 50px;
    max-width: 242px;
    margin-top: 50px;
    margin-right: 90px;
    margin-left: 90px; 
  }
  .tourists-color {
    display:flex;
    background-color: #eeeeee;

  }

  .maps{
    margin-top: 50px;
      }

  .maps h2{
    font-weight: 700;
    size: 30px;
    line-height: 36px;  
  }
  
  .search a{
    display: block;
    margin-top:50px;
    margin-left: 317px;
    width:284px;
    height: 30px;
    color:white;
      font-weight: 700;
      background-color: #766357; 
      size:21px;
   line-height: 26px;
   padding: 30px 140px;  
  }
  
 .search_form{
   width: 568px;
   height: 395px;
   margin-top: -600px;
   margin-left: 315px;
   background: white;
   position: absolute;
   
   }
   
  
  .find {
    color: white;
    background-color: #81b3d2;
    width: 458px;
    height: 58px;
  }
  .main-footer{
    list-style: none;
    display: flex;
    height: 120px;
    width: 1160px;
    background-color: #f2f2f2;
    opacity: 0.9;
    margin-top: -125px;
  }
  

  .footer-social ul{
    list-style: none; 

  }
  .visit{
    padding-left:132px;
    padding-right: 132px;
    padding-top:30px;
  }
  
  .social-button-youtube
  { 
    color:white;
    background-color: #81b3d2;
    position: absolute;
    margin-top: 50px;
    padding: 5px;
    margin-left:100px;
  }
  .social-button-facebook
  { 
    color:white;
    background-color: #81b3d2;
    position: absolute;
    margin-top: 50px;
    padding: 5px;
    margin-left:50px;
  }
  .social-button-twitter
  { 
    color:white;
    background-color: #81b3d2;
    position: absolute;
    margin-top: 50px;
    padding: 5px;
  }
  .footer-copyright {
  
    margin-top: 50px;
    padding: 5px;
    margin-left:500px;
  }
  .main-footer h3{
    font-weight: 700;
  }








  .infrastructure{
    text-align: left;
    position: absolute;
    margin-top:-260px;
    margin-left: 72px; 
    max-width:70px;
    color:white; 
  }
  .house-tipe{
    position: absolute;
    margin-top:-260px;
    margin-left: 200px; 
    max-width:150px;
    color:white; 
    text-align: left;
  }
  .prise-house{
    position: absolute;
    margin-top:-260px;
    margin-left: 800px; 
    max-width:350px;
    color:white;  
  }
  .found{
    display: flex;
    margin-left: 72px;
    margin-bottom: 50px; 
  }
  .found p{
     margin-left:50px;
  }
  .money{
    margin-left: 30px;
    margin-top:15px;
    color:#81b3d2;
  }
  .found-type{
    margin-left: 30px;
    margin-top:15px;
    color: black;
    padding:1px;
    border-bottom: 1px dotted #81b3d2;
  }
  .found-rating{
    margin-left: 30px;
    margin-top: 15px;
    color: black;
    border-bottom: 1px dotted #81b3d2;
    
  }
  .resort {
    margin-left: 72px;
   
    border-top: 1px solid grey;     
    display: flex;
    padding-top:30px;
    
  }
  .resort-img{
    text-align: left;
    margin-left: 30px;
    margin-top:-20px;
  }
  .resort-img ul{
    list-style: none; 
    display: flex;
    margin-left:-70px;
    
}
.resort-img li{
  margin-left:30px;
}
.more{
padding: 8px 17px;
background: #81b3d2;
color: white;
}
.book-more{
  padding: 8px 17px;
background:#766357;
color: white;
}
.stars{
  display: flex;
  text-align: end;
  max-width:70px;  
  background: url('../img/star.svg') repeat-x;

  
}
.main-footer-hotel{
  list-style: none;
  display: flex;
  height: 120px;
  width: 1160px;
  background-color: #f2f2f2;
  opacity: 0.9;
}