body {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	font-weight: 400;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: black;
	text-transform: uppercase;
	background-color: white;
	text-align: center;
	box-shadow: 0 0 40px 0 #dbdbdb;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	font-weight: 700;
	text-decoration: none;
}

h3 {
	font-weight: 700;
}

.main-header {
	overflow: hidden;
	padding-top: 3px;
}

.main-navigation ul {
	list-style: none;
	margin: 0 auto;
}

.main-navigation a {
	color: black;
}

.information {
	width: 239px;
	font-weight: 700;
	text-align: left;
	margin-left: 70px;
	margin-top: -2px;
}

.photo {
	width: 239px;
	font-weight: 700;
	margin-left: 4px;
	text-align: left;
	margin-top: -2px;
}

.logo {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -70px;
}

.card {
	margin-left: 96px;
	width: 239px;
	font-weight: 700;
	text-align: right;
	margin-top: -2px;
}

.house {
	width: 239px;
	font-weight: 700;
	text-align: right;
	margin-top: -2px;
}

.welcome {
	max-width: 100%;
	margin-left: 0px;
	margin-top: 80px;
	margin-bottom: 70px;
	height: auto;
}

.main-navigation ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0px;
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.main-background {
	color: black;
	background-color: #f2f2f28a;
	background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
	background-position: bottom center, left 28%;
	background-repeat: no-repeat;
	background-size: 100% 57px, 100% auto;
}

.features {
	margin-left: auto;
	margin-right: auto;
	margin-top: 65px;
	width: 1200px;
}

.reasons {
	margin-bottom: 50px;
	line-height: 26px;
}

.features-list {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

.feature-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.real_city {
	background-color: #81b3d2;
	color: white;
	margin-left: auto;
	width: 33.3333%;
	height: 231px;
	padding-top: 25px;
	line-height: 21px;
}

.real_city h2 {
	font-weight: 700;
	max-width: 150px;
	margin-left: 126px;
	line-height: 21px;
}

.real_city p {
	margin-top: 25px;
	margin-left: 49px;
	max-width: 300px;
}

.advantage h3 {
	font-weight: 700;
}

.features-sedona {
	max-width: 600px;
	margin-left: 300px;
	margin-right: auto;
	font-weight: 700;
	font-size: 21px;
}

.reasons p {
	padding-top: 10px;
}

.real_sedona {
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
}

.bridge-text h3 {
	font-weight: 700;
}

.advantage {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 40px;
	margin-right: 40px;
	width: 33.33%;
}

.advantage h2 {
	font-weight: 700;
	line-height: 21px;
	padding-top: 5px;
}

.advantage p {
	line-height: 21px;
	padding-top: 7px;
	padding-left: 10px;
	max-width: 300px;
}

.advantage-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin-top: 60px;
	margin-bottom: 65px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

.tourists h3 {
	font-weight: 700;
}

.nav-back {
	width: 239px;
	height: 56px;
}

.bridge-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bridge-text {
	font-weight: 700;
	padding-top: 30px;
	padding-left: 2px;
	padding-right: 0px;
	background-color: #81b3d2;
	color: white;
	margin-left: auto;
	width: 33.3333%;
	height: 226px;
	line-height: 21px;
}

.bridge-text p {
	padding-top: 8px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.bridge-text h2 {
	max-width: 172px;
	margin-left: 110px;
}

.tourists {
	color: black;
	text-align: center;
	margin-bottom: 50px;
	margin-left: 58px;
	margin-top: 32px;
	line-height: 21px;
	margin-right: 60px;
	height: 176px;
	width: 33.333%;
}

.tourists h2 {
	font-weight: 700;
	font-size: 21px;
	max-width: 150px;
	margin-left: 70px;
}

.tourists p {
	max-width: 265px;
	padding-top: 7px;
	margin-left: 10px;
}

.tourists-color {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #eeeeee;
	list-style: none;
	margin-top: -15px;
	padding: 0;
}

.maps {
	margin-top: 53px;
}

.maps h1 {
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
}

.maps p {
	line-height: 24px;
	padding-top: 10px;
}

.search a {
	display: block;
	margin-top: 45px;
	margin-left: 317px;
	width: 568px;
	height: 65px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #766357;
}

.search h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.search a:active {
	display: block;
	margin-top: 45px;
	margin-left: 317px;
	width: 568px;
	height: 65px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.search a:hover {
	background-color: #604e43;
}

.arrival {
	font-weight: 700;
	line-height: 26px;
	font-weight: 700;
	text-align: left;
	margin-left: 50px;
	margin-top: 8px;
	margin-bottom: 30px;
}

.arrival label {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 9px;
}



.calendar {
	margin-left: 10px;
	padding-left: 10px;
	width: 330px;
	height: 30px;
	background-color: #f2f2f2;
	font-weight: 700;
	color: #000000;
	border: 2px solid #f2f2f2; 
}

.calendar2 {
	margin-left: 5px;
	padding-left: 10px;
	width: 330px;
	height: 30px;
	background-color: #f2f2f2;
	font-weight: 700;
	color: #000000;
	border: 2px solid #f2f2f2; 
}

.calendar:focus {
	margin-left: 10px;
	padding-left: 10px;
	width: 330px;
	height: 30px;
	background-color: #e5e5e5;
	font-weight: 700;
	background: #fff;
	outline:none; 
}

.calendar2:focus {
	margin-left: 5px;
	padding-left: 10px;
	width: 330px;
	height: 30px;
	background-color: #e5e5e5;
	font-weight: 700;
	background: #fff;
	outline:none; 
}

.calendar-img {
	position: absolute;
	left: 475px;
	top: 62px;
	border: none;
	background-color: #f2f2f2;
}
.calendar-img:hover path{
	fill: black; 
}
.calendar-img:active path{ 
	fill:#81b3d2; 
}

.calendar-img2 {
	position: absolute;
	left: 475px;
	top: 127px;
	border: none;
	background-color: #f2f2f2;
}
.calendar-img2:hover path{
	fill: black; 

}
.calendar-img2:active path{ 
	fill:#81b3d2; 

}




.calandar:focus {
	background: #fff;
	outline: none;
	border-color: #e5e5e5;
}

.calandar:hover {
	background: #ebebeb;
	border-color: #ebebeb;
}

.calandar2 {
	border: 2px solid #f2f2f2;
}

.adults:focus {
	background: #fff;
	outline: none;
	border-color: #e5e5e5;
}

.adults:hover {
	background: #ebebeb;
	border-color: #ebebeb;
}

.adults {
	border: 2px solid #f2f2f2;
}

.adults2:focus {
	background: #fff;
	outline: none;
	border-color: #e5e5e5;
}

.adults2:hover {
	background: #ebebeb;
	border-color: #ebebeb;
}

.children-1 {
	border: 2px solid #f2f2f2;
}

.operate:focus {
	background: #669ec0;
	outline: none;
	border-color: #669ec0;
	color: white; 
	
}

.operate:hover {
	background: #5496bd;
	border-color: #5496bd;
	color: white; 
}

.operate {
	border: 2px solid #81b3d2;
	color: white;
}

.calandar:focus {
	background: #fff;
	outline: none;
	border-color: #e5e5e5;
}

.calandar:hover {
	background: #ebebeb;
	border-color: #ebebeb;
}

.calandar {
	border: 2px solid #f2f2f2;
}

.adults {
	margin-left: 22px;
	padding-left: 57px;
	width: 57px;
	height: 35px;
	background-color: #f2f2f2;
	font-weight: 700;
	margin-right: 40px;
}

.adults2 {
	margin-left: 5px;
	padding-left: 57px;
	width: 55px;
	height: 35px;
	background-color: #f2f2f2;
	font-weight: 700;
	border: 2px solid #f2f2f2;
}

.minus {
	position: absolute;
	top: 200px;
	right: 370px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.minus::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 12px;
	height: 3px;
	background-color:#d0d0d0;
}

.minus::after {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.minus:hover::after{
	
	background-color: #000000 ; 
	
}
.minus:active::after{
	background-color: #81b3d2;
}

.plus {
	position: absolute;
	top: 200px;
	right: 300px;
	width: 11px;
	height: 11px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.plus::before,
.plus::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 11px;
	height: 3px;
	background-color: #d0d0d0;
}

.plus::before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.plus::after {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.plus:hover::before{
	
	background-color: #000000 ; 
	
}
.plus:active::before{
	background-color: #81b3d2;
}

	.plus:hover::after{
	
		background-color: #000000 ; 
		
	}
	.plus:active::after{
		background-color: #81b3d2;
	}


.minus2 {
	position: absolute;
	top: 200px;
	right: 132px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.minus2::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 12px;
	height: 3px;
	background-color: #d0d0d0;
}

.minus2::after {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.minus2:hover::after{
	
	background-color: #000000 ; 
	
}
.minus2:active::after{
	background-color: #81b3d2;
}

.plus2 {
	position: absolute;
	top: 200px;
	right: 67px;
	width: 11px;
	height: 11px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.plus2::before,
.plus2::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 11px;
	height: 3px;
	background-color: #d0d0d0;
}

.plus2::before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.plus2::after {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.plus2:hover::before{
	
	background-color: #000000 ; 
	
}
.plus2:active::before{
	background-color: #81b3d2;
}

	.plus2:hover::after{
	
		background-color: #000000 ; 
		
	}
	.plus2:active::after{
		background-color: #81b3d2;
	}



.operate {
	margin-left: 0px;
	margin-top: 20px;
	height: 60px;
	width: 456px;
	background-color: #81b3d2;
	color: white;
	font-size: 21px;
	font-weight: 700;
}

.operate:hover {
	margin-left: 0px;
	margin-top: 20px;
	height: 58px;
	width: 456px;
	background-color: #669ec0;
	color: rgba(255, 255, 255, 0.3);
}

.operate:active {
	margin-left: 0px;
	margin-top: 20px;
	height: 58px;
	width: 456px;
	background-color: #5496bd;
	color: white;
}

.search_form {
	
	width: 571px;
	height: 350px;
	margin-top: -600px;
	margin-left: 315px;
	background: white;
	position: absolute;
	padding-top: 50px;
	font-weight: 700;
}

.search_form--hidden {
	display: none; 
}
 
	
}

.find {
	color: white;
	background-color: #81b3d2;
	width: 458px;
	height: 58px;
}

.main-footer {
	display: flex;
	margin-top: -125px;
	padding-top: 20px;
	height: 120px;
	width: 1200px;
	background-color: #f2f2f2;
	opacity: 0.9;
}

.footer-hotel {
	display: flex;
	border-top: 1px solid grey;
	padding-top: 20px;
	height: 120px;
	width: 1200px;
}

.visitsedona {
	margin-left: 133px;
	margin-top: 11px;
}

.social-button {
	list-style: none;
	display: flex;
	margin-left: 210px;
	margin-top: 13px;
}

	

.footer-copyright {
	margin-top: 17px;
	display: flex;
	color: rgb(119, 106, 106);
	margin-left: 207px;
}

.footer-copyright b {
	text-align: center;
	padding: 12px;
}

.main-footer h3 {
	font-weight: 700;
}

.main-footer-hotel h3 {
	font-weight: 700;
}

.icon-back {
	
	width: 20px;
	height: 20px;
	background-color: #81b3d2;
  align-items: center;
	margin: 5px;
	justify-content: center; 
}
.icon-back:hover{
	background: #669ec0;

}
.icon-back:focus{
	background: 	#5496bd;
	
	
}
.icon-back:active path,
.icon-back:focus path {
	fill:rgba(255, 255, 255, 0.3); 
  }
  
  .social-button-twitter{
	 display: flex;
	margin-top:4px;
	padding: 14px;  
	padding-top:15px; 
 
  }
  .social-button-facebook{
   display:flex;
	margin-top:4px;
	padding: 14px;  
	padding-top:15px; 
    margin-left: -1px; 
  }
  .social-button-youtube{
	display:flex;
	margin-top:4px;
   padding: 14px;  
   padding-top:15px; 
    margin-left: -1px; 
  }
  


	
	
}
.academy{
	width:115px; 
	height:41px;

}
.academy path{
	fill: #000000; 
}


  .academy:hover path{
	fill:#81b3d2;


}
.academy:active path {
	fill: #bdbbbc;
  }
  
.main-hotels {
	display: flex;
}

.infrastructure {
	text-align: left;
	margin-left: -1129px;
	margin-top: 30px;
	max-width: 150px;
	color: white;
}

.infrastructure h3 {
	margin-bottom: 22px;
	font-size: 17px;
	font-weight: 700;
}

.infrastructure p {
	margin-bottom: 25px;
	padding-left: 2px;
	margin-top: 5px;
}

.house-tipe {
	text-align: left;
	margin-left: -875px;
	margin-top: -180px;
	max-width: 150px;
	color: white;
	text-align: left;
}

.house-tipe h3 {
	margin-bottom: 22px;
	font-size: 17px;
	font-weight: 700;
}

.house-tipe p {
	margin-bottom: 25px;
}

.found {
	margin-bottom: 3px;
	margin-left: 72px;
}

.found h2 {
	display: block;
	text-align: left;
	font-size: 21px;
	font-weight: 700;
	margin-left: 0px;
	margin-top: 31px;
}

.found p {
	display: block;
	text-align: left;
	margin-left: 163px;
	margin-top: -38px;
	font-size: 12px;
	color:black; 
}

.money {
	padding-right: 33px;
	color: #81b3d2;
	font-weight: 400;
}

.foundtype {
	color: rgba(0, 0, 0, 0.3);
	padding: 0px;
	border-bottom: 1px dotted #81b3d2;
}
.foundtype:hover{
color: #81b3d2; 
}
.foundtype:active{
color: #000000;
border: none; 
}

.found-rating {
	margin-left: 34px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}
.found-rating:hover{
	color: #81b3d2; 
	}
	.found-rating:active{
	color: #000000;
	border: none; 
	}
.list {
	display: flex;
	text-align: center;
	margin-top: -33px;
	margin-left: 280px;
	font-size: 12px;
}

.resort {
	padding-left: 72px;
	padding-top: 25px;
	border-top: 1px solid grey;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 21px;
	text-align: left;
	margin-top: 25px;
	margin-bottom: 15px;
}

.resort-img {
	margin-bottom: 0px;
}

.resort-img3{
	display: block; 
	margin-left: 30px;
	padding-bottom: 10px; 
	color: #000000; 
	font-weight: 700;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
}
.resort-img3:hover{
	color: #81b3d2; 
}
.resort-img3:active{
	color:rgba(0, 0, 0, 0.3);
}


.resort-img ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 30px;
	margin-top: -6px;
}

.resort-img li:first-child {
	margin-left: 0px;
}

.resort-img li {
	margin-right: 40px;
	text-align: end;
}

.motel_3 {
	margin-left: 27px;
}

.villas-mony {
	margin-left: -17px;
	margin-top: -1px;
}

.more {
	padding: 5px 17px;
	background: #81b3d2;
	color: white;
	margin-left: 30px;
}
.more:hover{
 background:#669ec0; 
}
.more:active{
	background: #5496bd;
	color:rgba(255, 255, 255, 0.3);
}

.book-more {
	padding: 5px 17px;
	background: #766357;
	color: white;
}
.book-more:hover{
	background: #604e43;

}
.book-more:active{
	background: #503e33;
    color:rgba(255, 255, 255, 0.3);
}
.main-footer-hotel {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 120px;
	width: 1160px;
	background-color: #f2f2f2;
	opacity: 0.9;
}

.filter-range {
	width: 320px;
	margin-top: -180px;
	margin-left: -388px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;
	text-align: left;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 10px;
	vertical-align: top;
	cursor: pointer;
}

.min-price {
	padding-top: 5px;
	text-align: left;
}

.max-price {
	padding-top: 3px;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 40px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	margin-left: 85px;
	padding: 6px 33px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.checkbox-on {
	margin-right: 10px;
	margin-bottom: 2px;
}

.infrastructure label {
	position: relative;
	padding-left: 40px;
}

.infrastructure label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 23px;
	background: url('../img/checkbox-off.svg') no-repeat; 
}

.infrastructure input:checked+label::before {
	background: url('../img/checkbox-on.svg');
}

.container-hotels {
	margin-top: 3px;
}

.flag {
	position: relative;
	padding-left: 30px;
	margin-right: 15px;
	margin-top: 5px;
}

.flag::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 23px;
	background: url('../img/checkbox-on.svg')  no-repeat;
}

.off-1:checked+.flag::before {
	background: url('../img/checkbox-off.svg')  no-repeat;
}

.house-tipe label {
	position: relative;
	padding-left: 42px;
}

.house-tipe label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 23px;
	background: url('../img/checkbox-on.svg')  no-repeat;
}

.house-tipe input:checked+label::before {
	background: url('../img/checkbox-off.svg')  no-repeat;
}

.stars {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
}



.stars-img {
	margin: 0;
	padding: 2px;
}

.stars li {
	margin: 0;
	padding: 0;
	margin-left: 2px;
}

.stars-1 {
	margin-left: 805px;
	margin-top: -100px;
	text-align: right;
}

.icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: end;
	margin-left: 1090px;
	margin-top: -22px;
	margin-bottom: 30px;
}

.icon-img:hover path{
	fill: #000000; 
}
.icon-img:active path{
	fill:#81b3d2; 
}
.icon-margin {
	margin-right: 15px;
}

.rating-1 {
	margin-left: 810px;
	color: #666666;
	width: 110px;
	background-color: #f2f2f2;
	margin-top: 40px;
	padding-right: 0px;
	text-align: center;
}